* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
   padding-top: 8rem; 
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 15%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 8000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.3);
}

span {
  background: linear-gradient(270deg, #1bb9c2 10%, #f68d03 100%);
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradient-btn,
.resume-modal-content button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
}

.gradient-btn,
.resume-modal-content button:hover {
  transform: scale3d(1.05);
  color: #080808;
}

/*Resume-Popup section*/

.resume-modal {
  position: fixed;
  z-index: 1000;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, visibility 0.35s ease;
}

/* Active state */
.resume-modal.active {
  opacity: 1;
  visibility: visible;
}

.resume-modal-content {
  background: rgba(255, 255, 255, 0.2);
  padding: 60px;
  width: 450px;
  text-align: center;
  border-radius: 8px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 8px 25px rgba(197, 117, 5, 0.2);
  color: #f90e0e;

  /* Animation */
  transform: scale(0.8) translateY(20px);
  transition: transform 0.35s ease;
}

/* Smooth popup effect */
.resume-modal.active .resume-modal-content {
  transform: scale(1) translateY(0);
}

.resume-modal-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.resume-modal-content button {
  margin: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

section {
  min-height: 10vh;
  padding: 10rem 8%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 800;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  text-align: justify;
}

.home-image img {
  width: 28vw;
  height: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.home-image img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: #080808;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

.about {
  display: flex;
  justify-content: center;
  gap: 10rem;
  background-color: var(--second-bg-color);
}

.about-image img {
  width: 28vw;
  height: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.about-image img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.about-content h2 {
  font-size: 7rem;
  text-align: left;
  margin-bottom:2rem;
}

.about-content p {
  font-size: 1.8rem;
  line-height:1.6;
  text-align: justify;
}

.about-content .btn {
  margin: 3rem 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}

.skills, .contact-container {
  background-color: var(--bg-color);
  color: black;
}

.skills h2 {
  color: var(--text-color);
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*Instead of hard code of number of columns use this 
  repeat(autofit,minmax()) which will automatically fits 
  the card side by side*/
  align-items: stretch;
  gap: 1.5rem;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 3.5rem;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
  
}

.skill-box:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.skill-have {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.skill-have h4 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}

.skill-have ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-have ul li {
  list-style: none;
  margin: 0.8rem 0;
  font-size: 2.5rem;
}


.skill-have i {
  font-size: 10rem;
}


.projects {
  background-color: var(--second-bg-color);
}

.project-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  gap: 3rem;
  row-gap: 5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease-out;
}

.project-card[data-url] {
  cursor: pointer;
}

.project-card:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
  transform: scale(1.02);
}

.project-card img {
  max-width: 300px;
  border-radius: 2em;
  object-fit: cover;
}

.project-card h3 {
  font-size: 3rem;
}

.project-card p {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: justify;
}

.contact-container h2 {
  font-size: 7rem;
  text-align: left;
  margin-bottom:2rem;
  color:white;
  text-align: center;
}

.contact-description {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: justify;
  color: white;
}

.contact-info{
  color:white;
  margin-top: 5rem;
  font-size: 3rem;
}

.contact-links{
  margin:2% 0%;
  
}

.contact-links i{
  color: var(--main-color);
}

.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}

.footer .social-icons {
  text-align: center;
}

.footer ul {
  text-align: center;
  font-size: 20px;
}

.footer ul li {
  display: inline;
  margin-left: 20px;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}


@media (max-width: 1285px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar.active {
    display: block;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-image img {
    width: 45vw;
    height: 48vw;
  }
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }
  .about img {
    width: 45vw;
    height: 48vw;
  }
}

@media (max-width: 768px) {

 #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar.active {
    display: block;
  }

  .home {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3rem;              
  width: 100%;
}
  .home-image img {
    width: 45vw;
    height: 48vw;
  }
  .home-content {
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

.home-content h1 {
  font-size: 5rem;      
  line-height: 1.2;
  word-break: break-word;
}

.home-content h3 {
  font-size: 2.8rem;    
  line-height: 1.4;
  word-break: break-word;
}
  
.about {
  flex-direction: column-reverse;
  text-align: center;
  }
.about h2 {
  text-align: center;
  margin: 2rem 0;
  }
.about img {
  width: 45vw;
  height: 48vw;
  }


.skill-box {
  height: auto;         
  padding: 3rem 2rem;
}
 .skill-container {
    grid-template-columns: 1fr;
  }

.skill-have h4 {
  font-size: 2.8rem;    
}

.skill-have ul {
  font-size: 2rem;       
}

.skill-have i {
  font-size: 6rem;       
}


}
